button
{
    height:40px;
    border: 2px ridge rgba(128, 128, 128, 0.76);
    background: rgba(60, 176, 253, 0.69);
    width: 200px;
    border-radius: 10px;
    margin-bottom: 8px;
    font-weight:bold;
    font-family:Lucida Grande;
}

body {
    background-image: url("/fonts/Nummers/Achtergrond1.png");
    background-repeat: repeat-y;
    text-align:center;
    color:black;
    font-family:'Lucida Sans';
}