body {
    background-color: lightblue;
}

<<<<<<< HEAD
=======
input {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 24px;
}

>>>>>>> 32f973a8ae7ad56dc5df40a856d823f97e015418

