button
{
    height:40px;
    border: 2px ridge grey;
    background: #3cb0fd;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 8px;
    font-weight:bold;
    font-family:Lucida Grande;
}